/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    behaviors {
        dbspc: del_backspace {
            compatible = "zmk,behavior-mod-morph";
            label = "SHIFT_BACKSPACE_DELETE";
            #binding-cells = <0>;
            bindings = <&kp BSPC>, <&kp DEL>;
            mods = <(MOD_LGUI|MOD_LSFT|MOD_RGUI|MOD_RSFT)>;
        };
        shftcap: shift_caps {
            compatible = "zmk,behavior-mod-morph";
            label = "SHIFT_CAPS";
            #binding-cells = <0>;
            bindings = <&sk LSHIFT>, <&kp CAPSLOCK>;
            mods = <(MOD_LGUI|MOD_LSFT|MOD_RGUI|MOD_RSFT)>;
        };
        lyrtp1: layer_tap {
            compatible = "zmk,behavior-tap-dance";
            label = "LAYER_TAP";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo 1>, <&to 1>;
        };
    };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
// layer 0
// ----------------------------------------------------------------------------------------- 
//  |  TAB |  '  |  ,  |  .  |  p   |  y  |          |  f  |  g     |  c   |  r  |  l  | /       |
//  | BKSP |  a  |  o  |  e  |  u   |  i  |          |  d  |  h     |  t   |  n  |  s  | ENT/ALT |
//  | SHFT |  ;  |  q  |  j  |  k   |  x  |          |  b  |  m     |  w   |  v  |  z  | SHFT    |
//                     | WIN | CTRL | ESC |          | SPC | lyrtp1 | lyr2 |
                        bindings = <
   &kp TAB   &kp FSLH &kp COMMA &kp DOT  &kp P     &kp Y              &kp F     &kp G   &kp C &kp R &kp L &kp SLASH
   &dbspc    &kp A    &kp O     &kp E    &kp U     &kp I              &kp D     &kp H   &kp T &kp N &kp S &mt RET RALT
   &shftcap  &kp SEMI &kp Q     &kp J    &kp K     &kp X              &kp B     &kp M   &kp W &kp V &kp Z &sk RSHFT
                                &kp LGUI &kp LCTRL &gresc             &kp SPACE &lyrtp1 &to 2

                        >;
                };

                lower_layer {
// layer 2
// -----------------------------------------------------------------------------------------
// | `    |  !   |  @  |  #   |  $   |  %  |          |  ^   | &      |  *   |  (  |  )  | -       |
// | BKSP |  1   |  2  |  3   |  4   |  5  |          |  6   | 7      |  8   |  9  |  0  | ENT/ALT |
// | SHFT |  F1  |  F2 |  F3  |  F4  |  F5 |          |  F6  | F7     |  F8  |  F9 | F10 | SHFT    |
//                     | WIN  | CTRL |  .  |          | SPC  | lyrtp1 | lyr0 |
                        bindings = <
   &kp GRAVE &kp EXCL &kp AT &kp HASH &kp DLLR  &kp PERCENT          &kp CARET &kp AMPS &kp STAR &kp LPAR  &kp RPAR &kp MINUS
   &dbspc    &kp 1    &kp 2  &kp 3    &kp 4     &kp 5                &kp 6     &kp 7    &kp 8    &kp 9     &kp 0    &mt RET RALT
   &shftcap  &kp F1   &kp F2 &kp F3   &kp F4    &kp F5               &kp F6    &kp F7   &kp F8   &kp F9    &kp F10  &kp RSHFT
                             &kp LGUI &kp LCTRL &kp DOT              &kp SPACE &lyrtp1  &to 2
                        >;
                };

                raise_layer {
// layer 1
// -----------------------------------------------------------------------------------------
// |  `    |   !  |  @  |  UP  |  $   |  %  |          |  [  |  ]   |  ^  |  \  |  /  | "|"     |
// | BKSP  | HOME | LFT | DOWN | RGT  | END |          |  (  |  )   |  =  |  <  |  >  | ENT/ALT |
// | SHIFT |      |     |  #   |      |     |          |  {  |  }   |  +  |  -  |  _  |  &      |
//                      | WIN  | CTRL | ESC |          | SPC | lyr2 | lyr0 |
                        bindings = <
  &kp GRAVE &kp EXCL &kp AT   &kp UP   &kp DLLR  &kp PERCENT         &kp LBRACKET &kp RBRACKET &kp CARET &kp BACKSLASH &kp SLASH  &kp PIPE 
  &dbspc    &kp HOME &kp LEFT &kp DOWN &kp RIGHT &kp END             &kp LPRN     &kp RPRN     &kp EQUAL &kp LANGLE    &kp RANGLE &mt RET RALT
  &shftcap  &trans   &trans   &kp HASH &trans    &trans              &kp LBRACE   &kp RBRACE   &kp PLUS &kp MINUS &kp UNDERSCORE &kp AMPS 
                              &kp LGUI &trans    &kp SPACE           &kp SPACE    &to 2        &to 0
                        >;
                };
        };
};
